.mainContainer {
  background-color: transparent;
}

.subContainer {
  margin-left: 1.5vw;
  margin-right: 2vw;
  margin-top: 3vh;
}

.bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.mainText {
  font-size: 1.5vw;
  color: white;
  font-family: sans-serif;
  position: absolute;
  left: 0;
  background: transparent;
}

.navText {
  font-size: 1.2vw;
}

.navContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border-bottom: 0.4px solid grey;
}

.navLogo {
  width: 20%;
  height: auto;
  margin-top: 2vh;
}

.headShot {
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.eachCard {
  margin-top: 3vh;
  margin-right: 5vw;
}

.profName {
  font-size: 2vw;
}

.profSub {
  font-size: 1.5vw;
  font-weight: thin;
}
