@media screen and (min-width: 711px) and (min-height: 393px) {
  .background-dummy{
    visibility: hidden;
    width: 100%;
    height: 20vh;
    padding-bottom: 5vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .background-vid {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .navContainer {
    display: flex;
    height: 10vh;
    width: 100%;
    border-bottom: 0.4px solid grey;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5vw;
    padding-right: 3vw;
  }

  .bg {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .inputCont {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    right: 20px;
  }

  .inputFirst {
    width: 34%;
    padding-left: 0.5vw;
    font-size: 2vh;
  }

  .inputEmail {
    width: 34%;
    padding-left: 0.5vw;
    font-size: 2vh;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: lightgrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: lightgrey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
  }

  .navLogo {
    width: 20%;
    height: auto;
  }

  .seeCont {
    width: 100%;
    height: 8%;
    padding-bottom: 4%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  .seeText {
    font-family: sans-serif;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    font-family: 'Futura';
    margin-bottom: 2%;
  }

  .contactText {
    font-family: sans-serif;
    font-size: 1.5vw;
    color: #666363;
    text-align: center;
    font-family: 'Futura';
  }

  .downIcon {
    max-width: 2.5%;
    height: auto;
  }

  .signature {
  	font-family: 'Futura';
  	letter-spacing: 1px;
    text-transform: uppercase;
  	background: none;
  	color: white;
  	position: relative;
  	outline: none;
  	border: none;
  	height: 4.7vh;
  	width: 30%;
  	font-size: 1.5vh;
  	z-index: 2;
  	transition: .01s .23s ease-out all;
  	overflow: hidden;
  	&:before {
  		content: '';
  		position: absolute;
  		left: 0;
  		top: 0;
  		height: 100%;
  		width: 100%;
  		background: #202020;
  		z-index: -1;
  		transition: .3s ease-in all;
  	}
  	&:after {
  		content: '';
  		position: absolute;
  		left: -5%;
  		top: 5%;
  		height: 90%;
  		width: 5%;
  		background: white;
  		z-index: -1;
  		transition: .4s .02s ease-in all;
  	}
  	&:hover {
  		cursor: pointer;
  		color: transparent;
  		&:before {
  			left: 100%;
  			width: 25%;
  		}
  		&:after {
  			left: 100%;
  			width: 70%;
  		}
  		.icon-right.after:after {
  			left: -80px;
  			color: white;
  			transition: .2s .2s ease all;
  		}
  		.icon-right.after:before {
  			left: -104px;
      	top: 14px;
  			opacity: 0.2;
  			color: white;
  		}
  	}
  }

  .vidSection {
    height: 100%;
    width: 100%;
  }

  .tutorial {
    background-color: lightgrey;
    width: 100%;
    height: auto;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    padding: 10vh;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: darkgrey;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }

   .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    bottom: 50px;
  }

  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    left: 7vw;
  }
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    right: 7vw;
  }

  .tutCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iphoneCont {
    display: inline-block;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    margin-top: 3vh;
  }

  .iphone {
    width: 17%;
    height: auto;
    margin: 1vw;
  }

  .step1 {
    font-family: 'Trebuchet ms';
    font-size: 4vh;
    color: white;
  }

  .emblem {
    max-width: 5%;
    height: auto;
    margin: 4vh;
  }

  .tutBackground1 {
    background-image: url('./style/assets/bonfire.png');
    padding: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground2 {
    background-image: url('./style/assets/bonfire.png');
    padding: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground3 {
    background-image: url('./style/assets/bonfire.png');
    padding: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground4 {
    background-image: url('./style/assets/bonfire.png');
    padding: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground5 {
    background-image: url('./style/assets/bonfire.png');
    padding: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .contactCont {
    background-color: lightgrey;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    margin-top: 3vh;
  }

  .subCont {
    padding: 5vh;
  }

  .jumboContent {
    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }

  .contactPic {
    width: 90%;
    height: 80%;
  }

  .picCont {
    width: 100%;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
  }
}






/* Start of mobile formatting*/

@media screen and (max-width: 710px) {
  .background-dummy{
    visibility: hidden;
    width: 100%;
    height: 20vh;
    padding-bottom: 5vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .background-vid {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .background-pic {
    width: 100%;
    height: auto;
  }

  .navContainer {
    display: flex;
    height: 7vh;
    width: 100%;
    border-bottom: 0.4px solid grey;
    align-items: center;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 3vw;
  }

  .bg {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .inputCont {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    right: 20px;
  }

  .inputFirst {
    width: 34%;
    padding-left: 1.5vw;
    font-size: 3vw;
    border: 0.5px solid lightgrey;
    border-radius: 0;
  }

  .inputEmail {
    width: 34%;
    padding-left: 1.5vw;
    font-size: 3vw;
    border: 0.5px solid lightgrey;
    border-radius: 0;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: lightgrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: lightgrey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
  }

  .navLogo {
    width: 25%;
    height: auto;
  }

  .seeCont {
    width: 100%;
    height: 8%;
    padding-bottom: 2.5%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  .seeText {
    font-size: 3vw;
    color: white;
    text-align: center;
    font-family: 'Futura';
    margin-bottom: 2%;
  }

  .contactText {
    font-size: 3vw;
    color: #666363;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Futura';
  }

  .downIcon {
    max-width: 3%;
    height: auto;
  }

  .signature {
  	font-family: 'Futura';
  	letter-spacing: 1px;
    text-transform: uppercase;
  	background: none;
  	color: white;
  	position: relative;
  	outline: none;
  	border: none;
  	height: 3vh;
  	width: 30%;
  	font-size: 1.5vw;
  	z-index: 2;
  	transition: .01s .23s ease-out all;
  	overflow: hidden;
  	&:before {
  		content: '';
  		position: absolute;
  		left: 0;
  		top: 0;
  		height: 100%;
  		width: 100%;
  		background: #202020;
  		z-index: -1;
  		transition: .3s ease-in all;
  	}
  	&:after {
  		content: '';
  		position: absolute;
  		left: -5%;
  		top: 5%;
  		height: 90%;
  		width: 5%;
  		background: white;
  		z-index: -1;
  		transition: .4s .02s ease-in all;
  	}
  	&:hover {
  		cursor: pointer;
  		color: transparent;
  		&:before {
  			left: 100%;
  			width: 25%;
  		}
  		&:after {
  			left: 100%;
  			width: 70%;
  		}
  		.icon-right.after:after {
  			left: -80px;
  			color: white;
  			transition: .2s .2s ease all;
  		}
  		.icon-right.after:before {
  			left: -104px;
      	top: 14px;
  			opacity: 0.2;
  			color: white;
  		}
  	}
  }

  .vidSection {
    height: 100%;
    width: 100%;
  }

  .tutorial {
    background-color: lightgrey;
    width: 100%;
    height: auto;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    padding: 1.5vh;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: darkgrey;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }

   .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    bottom: 50px;
  }

  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    left: 7vw;
    visibility: hidden;
  }
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    right: 7vw;
    visibility: hidden;
  }

  .tutCont {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iphoneCont {
    display: inline-block;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    margin-top: 1vh;
  }

  .iphone {
    width: 17%;
    height: auto;
    margin: 1vw;
  }

  .step1 {
    font-family: 'Trebuchet ms';
    font-size: 4vw;
    color: white;
  }

  .emblem {
    max-width: 8%;
    height: auto;
    margin: 1.5vh;
  }

  .tutBackground1 {
    background-image: url('./style/assets/bonfire.png');
    margin-bottom: 3.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground2 {
    background-image: url('./style/assets/bonfire.png');
    margin-bottom: 3.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground3 {
    background-image: url('./style/assets/bonfire.png');
    margin-bottom: 3.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground4 {
    background-image: url('./style/assets/bonfire.png');
    margin-bottom: 3.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tutBackground5 {
    background-image: url('./style/assets/bonfire.png');
    margin-bottom: 3.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .contactCont {
    background-color: lightgrey;
    align-items: center;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vh;
  }

  .subCont {
    padding: 5vh;
  }

  .jumboContent {
    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }

  .contactPic {
    width: 100%;
    height: 80%;
    padding: 2vh 3vw 2vh 3vw;
  }

  .picCont {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
  }
}
